body {
    margin: 0 auto;
    background: red;
    font-family: Arial, Helvetica, sans-serif;
}

/* header style*/
.topnav{
    background-color: #333;
    overflow: hidden;
}

.topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a.active{
    background: #04AA6D;
    color: white;
}

/*footer style*/
footer{
    position: fixed;
    width: 100%;
    background-color: #333;
    text-align: center;
    left: 0;
    bottom: 0;
    padding: 14px 16px;
}

footer a{
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

footer a:hover{
    background-color: #ddd;
    color: black;
}

/* user login style*/
.user-login{
    text-align: center;
    margin: 0px auto;
    margin-top: 120px;
    background-color: green;
    width: 40%;
    padding: 5px 0px 20px 0px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px;
    opacity: 0.9;
}


#email {
    margin-top: -30px !important;
}

.user-login #email, #password, #login-btn{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    width: 60%;
    margin: 5px 0px 0px 0px;
    font-size: 17px;
}

.user-login #email:hover, #password:hover{
    border: 5px solid red;
}

.user-login #login-btn:hover{
    background-color: rgba(0, 0, 255, 0.548);
    color: wheat;
    font-size: 20px;
}


@media only screen and (max-width: 1115px){
    .user-login{
        width: 50%;
    }
}

@media only screen and (max-width: 800px){
    .user-login{
        width: 70%;
    }
}

@media only screen and (max-width: 600px){
    .user-login{
        width: 80%;
    }
}

@media only screen and (max-width: 600px){
    .user-login #email, #password{
        width: 80%;
    }
}

@media only screen and (max-width: 420px){
    .user-login #email, #password{
        width: 60%;
    }
    .user-login{
        margin-top: 80px;
    }
}

/* user register style*/
.register{
    text-align: center;
    margin: 0px auto;
    margin-bottom: 120px;
    margin-top: 40px;
    background-color: green;
    width: 40%;
    padding: 5px 0px 20px 0px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px;
    opacity: 0.9;
}


.register #first-name, #last-name, #phone-number, #gender, #country, #province, #email1, #password1, #password2, #register-btn{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    width: 60%;
    margin: 5px 0px 0px 0px;
    font-size: 17px;
}

.register #register-btn:hover{
    background-color: rgba(0, 0, 255, 0.548);
    color: wheat;
    font-size: 20px;
}


@media only screen and (max-width: 1115px){
    .register{
        width: 50%;
    }
}

@media only screen and (max-width: 800px){
    .register{
        width: 70%;
    }
}

@media only screen and (max-width: 600px){
    .register{
        width: 80%;
    }
}

@media only screen and (max-width: 600px){
    .register #email1, #password1, #password2{
        width: 80%;
    }
}

@media only screen and (max-width: 420px){
    .register #email1, #password1, #password2{
        width: 60%;
    }
    .register{
        margin-top: 80px;
    }
}

/* contact page style*/
.contact{
    text-align: center;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 120px;
    background-color: green;
    width: 40%;
    padding: 5px 0px 20px 0px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px;
    opacity: 0.9;
}

.contact #name, #contact-email, #message, #send-mail-btn{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    width: 60%;
    margin: 5px 0px 0px 0px;
    font-size: 17px;
}


.contact #send-mail-btn:hover{
    background-color: rgba(0, 0, 255, 0.548);
    color: wheat;
    font-size: 20px;
}


@media only screen and (max-width: 1115px){
    .contact{
        width: 50%;
    }
}

@media only screen and (max-width: 800px){
    .contact{
        width: 70%;
    }
}

@media only screen and (max-width: 600px){
    .contact{
        width: 80%;
    }
}

@media only screen and (max-width: 600px){
    .contact #name, #contact-email, #message{
        width: 80%;
    }
}

@media only screen and (max-width: 420px){
    .contact #name, #contact-email, #message{
        width: 60%;
    }
    .contact{
        margin-top: 80px;
    }
}

/* about me page style */
.float-right{
    float: right;
}

.float-left{
    float: left;
}

.about{
    margin: 0px auto;
    margin-top: 50px;
    font-size: 17px;
    list-style-position: inside;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.about img{
    border-radius: 200px;
    float: left;
    margin-left: 50px;
    padding: 20px;
}

.about .my-info{
    padding: 0px 20px 0px 20px;
}

.about .hobby{
    padding-left: 20px;
}

.about .priority, .other-skills{
    padding: 0px 10px 0px 10px;
}

.source-code a{
    border-radius: 20px;
    color: green;
    padding: 10px 15px;
    text-decoration: none;
    background-color: yellow;
    margin-bottom: 50px !important;
}

.source-code a:hover{
    background: green;
    color: yellow;
}

.contact-btn a{
    background-color: yellow;
    color: green;
    text-decoration: none;
    
    border-radius: 50px;
    padding: 10px 15px;
    margin: 300px 0px 400px 500px;
}

.contact-btn a:hover{
    background: green;
    color: yellow;
}


@media only screen and (max-width: 920px){
    .contact-btn a{
        margin-left: 30px;
    }
    .contact-btn{
        margin: 25px 0px 30px 0px;
    }
}

@media only screen and (max-width: 780px){
    .about .hobby{
        padding: 0px 15px 0px 15px;
    }

    .about img{
        margin-top: -40px !important;
    }

    .about .my-info{
        padding: 450px 15px 0px 15px;
    }

    .my-info{
        padding-top: 380px !important;
    }
}

@media only screen and (max-width: 530px){
    img{
        width: 85%;
        margin-left: 20px !important;
    }
    .my-info{
        padding-top: 120px !important;
    }
}

@media only screen and (max-width: 480px){
    .about img{
        width: 80%;
        margin-left: 20px;
    }
    .my-info{
        padding-top: 100px !important;
    }
}

@media only screen and (max-width: 450px){
    .about img{
        width: 90%;
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 410px){
    .about img{
        width: 90%;
        margin-left: -5px !important;
    }
    .my-info{
        padding-top: 100px !important;
    }
}

@media only screen and (max-width: 410px){
    .about img{
        width: 88%;
        margin-left: -5px !important;
    }
}
